<% unless @talks.empty? %>
<h2>Lista de TechTalks</h2>
<div class="row">
  <% @talks.each do |talk| %>
  <div class="index-talk span5">
    <span class="talk-data">
      <%= distance_of_time_in_words_to_now(talk.data) %>
    </span>
    
      <div class="gravatar-img">
        <% unless talk.gravatar_email.empty?%>
            <%= image_tag avatar_url(talk)%>
        <%else%>
            <%= image_tag("avatar.jpg", border: 0) %>
        <%end%>
          
      </div>
    <p class="talk-infos">
      <span class="talk-nome">
        <%= talk.nome %>
      </span>
      <span class="talk-responsavel">por <%= talk.responsavel %></span>
    </p>
    <p class="talk-sobre"><%= talk.mais_sobre %></p>
  </div>
  <% end %>
</div>
<%else%>
  <div class="sem-talk">Não existe TechTalk cadastrado.</div>
<%end%>
