<!DOCTYPE html>
<html>
<head>
  <title>Globotalk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
            <%= link_to 'Novo Talk', new_talk_path, :class => 'btn btn-primary btn-small' %>
            <%= link_to image_tag("globotalk.png", border: 0, class: "brand"), root_path%>
            <div class="nav-collapse">
              <ul class="nav">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="span12">
                  <%= yield %>
              </div>
          </div>
      </div>
</body>
</html>
